dag {
    enabled = true
    file = '../results/nextflow/dag.html'
    overwrite = true
}

docker {
    enabled = true
    platform = 'linux/amd64'
    runOptions = '--env GIT_ACCESS_TOKEN=$CO_USERNAME:$CO_PASSWORD --volume $DATA_PATH:/tmp/data'
}

env {
    RESULTS_PATH = '../results'
}

params {
    capsule_copy_of_multi_qc_1_args = "sample_report.html"
}

process {
    debug = true
    errorStrategy = 'terminate'
}

report {
    enabled = true
    file = '../results/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '../results/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '../results/nextflow/trace.txt'
    overwrite = true
}
